<mat-card>
  <div class="container">
    <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row" fxLayoutAlign="space-around center"
         class="content">
      <div class="blocks">
        <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button>
      </div>
    </div>
  </div>
  <br>
  <mat-form-field>

    <input matInput placeholder="Search name" #input>
  </mat-form-field>


  <div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <!--  </form>-->
  <div class="example-container mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" matSortActive="first"
           matSortDirection="asc"
           matSortActive="last" matSortDirection="asc" matSortActive="location" matSortDirection="asc"
           matSortActive="hobby" matSortDirection="asc" matSortDisableClear>

      <!-- For User ID -->
      <ng-container matColumnDef="first">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name</th>
        <td mat-cell *matCellDef="let element"> {{element.first}}  </td>
      </ng-container>
      <!-- For User ID -->
      <ng-container matColumnDef="last">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</th>
        <td mat-cell *matCellDef="let element">  {{element.last}} </td>
      </ng-container>
      <!-- For Title -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
        <td mat-cell *matCellDef="let element">  {{element.email}} </td>
      </ng-container>

      <!-- For Completion Status -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone No</th>
        <td mat-cell *matCellDef="let element">  {{element.phone}} </td>
      </ng-container>

      <!-- For Completion Status -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Location</th>
        <td mat-cell *matCellDef="let element"> {{element.location}}  </td>
      </ng-container>

      <!-- For Completion Status -->
      <ng-container matColumnDef="hobby">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hobby</th>
        <td mat-cell *matCellDef="let element">  {{element.hobby}} </td>
      </ng-container>

      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> update</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="openDialog('Update',element)" color="accent">
            <mat-icon class="mat-18">system_update</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> delete</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="openDialog('Delete',element)" color="warn">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="this.total" [pageSize]="7" [pageSizeOptions]="[2,3,4,5, 10, 25, 100]"></mat-paginator>
  </div>
</mat-card>
